@charset "utf-8";
section {
  background-color: #eeeeee;
  padding: 50px;
}
h2 {
  margin: 0 auto 50px;
  color: #398072;
  text-align: center;
}
ul {
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
ul li {
  background-color: #fff;
  width: 30%;
}
img {
 width: 100%;
}
.explanation {
  padding: 10px;
}
h3 {
  color: #398072;
  border-left: 8px solid #398072;
  padding: 3px 0 3px 3px;
  font-weight: 600;
  margin-bottom: 10px;
}
p {
  font-weight: 500; 
  line-height: 1.2;
}

@media screen and (max-width: 400px) {
  section {
    padding: 50px 10px;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  ul li {
    width: 100%;
    margin-bottom: 20px;
  }
}